/*Put your own styles here*/
@charset "UTF-8";
/********************************************/
/* header 01 */
/********************************************/
header#header01 .h_lead .inner:after {
  content: "";
  display: table;
  clear: both;
}

header#header01 .h_lead h1 {
  font-size: 10px;
  font-weight: normal;
  float: left;
  line-height: 24px;
}

header#header01 .h_lead .h_nav {
  float: right;
  line-height: 1;
}

header#header01 .h_lead .h_nav a {
  font-size: 11px;
  height: 24px;
  display: table-cell;
  vertical-align: middle;
}

header#header01 .h_lead .h_nav a:before {
  color: #FF6600;
  font-family: FontAwesome;
  content: "\f105";
  padding-right: 8px;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-size: 12px;
  padding-right: 5px;
}

header#header01 .h_lead .h_nav + .h_nav {
  margin-right: 25px;
}

header#header01 .h_lead .h_nav + .h_nav:last-child a {
  padding: 0 8px;
  margin-right: 1px;
  font-weight: bold;
}

header#header01 .h_lead .h_nav + .h_nav:last-child a:hover {
  background-color: #FF6600;
  color: #ffffff;
  text-decoration: none;
}

header#header01 .h_lead .h_nav + .h_nav:last-child .on {
  background-color: #FF6600;
  color: #ffffff;
}

header#header01 .h_lead .h_nav + .h_nav:last-child a.on:before {
  color: #ffffff;
}

header#header01 .h_menu {
  padding: 15px 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

header#header01 .h_menu .inner:after {
  content: "";
  display: table;
  clear: both;
}

header#header01 .h_menu .h_logo {
  float: left;
  height: 50px;
}

header#header01 .h_menu .h_logo a {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

header#header01 .h_menu .h_logo a img {
  height: 50px;
  width: auto;
}

header#header01 .h_menu .h_search {
  float: right;
  margin-right: 20px;
}

header#header01 .h_menu .h_contact {
  float: right;
  display: table;
  height: 50px;
  font-size: 0;
}

header#header01 .h_menu .h_contact a {
  font-size: 14px;
  color: #ffffff;
  padding: 12px 24px;
}
header#header01 .h_menu .h_contact .h_tel a {
  font-size: 20px;
  color: #333;
  padding: 0;
}

header#header01 .h_menu .h_contact > div {
  display: table-cell;
  vertical-align: middle;
}

.h_search input {
  border: medium none;
  border-radius: 0;
  display: block;
  height: 34px;
  padding: 0 5%;
  margin-top: 8px;
}

.h_search input.search_txt {
  float: right;
  width: 160px;
  background-color: #f5f5f5;
  color: #777777;
  font-size: 11px;
}

.h_search input.submit_btn {
  background: #555555 url("../image/common/icon_search.png") no-repeat scroll center center/16px auto;
  border: medium none;
  cursor: pointer;
  float: right;
  padding: 0;
  text-indent: -9999px;
  width: 36px;
}

/*.h_document a{
	background-color: $btn-hover-color;
	display: block;
	&:hover{
		background-color: $btn-link-color;
		text-decoration: none;
	}
	&:before{
		@include document;
		line-height: 1;
	}
}*/
.h_tel {
  font-size: 11px;
  padding-right: 10px;
  text-align: center;
}

.h_tel .num {
  font-size: 20px;
  margin-bottom: 3px;
  line-height: 1;
}

.h_tel .num:before {
  font-family: FontAwesome;
  content: "\f095";
  display: inline-block;
  padding-right: 5px;
  vertical-align: middle;
  font-size: 22px;
  font-size: 18px;
  line-height: 1;
  padding-right: 3px;
}

.h_tel .time {
  line-height: 1;
  opacity: .5;
}

.h_mail a {
  background-color: #FF6600;
  display: block;
  margin-left: 1px;
}

.h_mail a:hover {
  background-color: #C65000;
  text-decoration: none;
}

.h_mail a:before {
  font-family: FontAwesome;
  content: "\f0e0";
  display: inline-block;
  padding-right: 8px;
  /*vertical-align: middle;*/
  line-height: 1;
}

@media only screen and (max-width: 979px) {
  header#header01 .h_menu .h_contact {
    margin-right: 15px;
  }
  .h_search {
    display: none;
  }
}

@media only screen and (max-width: 690px) {
  header#header01 .h_lead {
    display: none;
  }
  header#header01 .h_menu {
    padding: 10px 0;
  }
  header#header01 .h_menu .h_logo {
    height: 40px;
  }
  header#header01 .h_menu .h_logo a img {
    height: 40px;
  }
  header#header01 .h_menu .h_contact {
    display: none;
  }
}

/********************************************/
/* global navigation globalnav 03 */
/********************************************/
#globalnav01 {
  border-top: 1px solid #eeeeee;
}

#globalnav01 #globalnav_in ul {
  display: table;
  table-layout: fixed;
  width: 100%;
}

#globalnav01 #globalnav_in ul li {
  display: table-cell;
  padding: 10px 0;
  position: relative;
}

#globalnav01 #globalnav_in ul li:hover a {
  color: #FF6600;
  text-decoration: none;
  /*&::after{width: 100%;}*/
}

#globalnav01 #globalnav_in ul li a {
  display: block;
  font-size: 15px;
  padding: 8px 8px;
  text-align: center;
  border-left: 1px solid #eeeeee;
  /*position: relative;
					&::after{
						content: "";
						width: 0;
						left: 0;
						bottom: -14px;
						height: 3px;
						position: absolute;
						background-color: $key-color;
						transition: all .2s ease 0s;
					}*/
}

#globalnav01 #globalnav_in ul li a:hover {
  color: #FF6600;
  text-decoration: none;
  /*&::after{width: 100%;}*/
}

#globalnav01 #globalnav_in ul li.main_current a {
  color: #FF6600;
}

#globalnav01 #globalnav_in ul li:last-child a {
  border-right: 1px solid #eeeeee;
}

@media only screen and (max-width: 979px) {
  #globalnav01 {
    position: fixed;
    z-index: 1000;
    padding-top: 103px;
    margin: 0;
    display: block;
    width: 100%;
  }
  #globalnav01 #globalnav_in {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    z-index: 1000;
  }
  #globalnav01 #globalnav_in ul {
    display: none;
    background-color: #ffffff;
    border-top: 2px solid #f5f5f5;
    margin: 0;
  }
  #globalnav01 #globalnav_in ul li {
    display: block;
    border-bottom: 1px solid #f5f5f5;
    width: 100%;
    padding: 0;
  }
  #globalnav01 #globalnav_in ul li:before {
    display: none;
  }
  #globalnav01 #globalnav_in ul li:last-child {
    border-bottom: 1px solid #f5f5f5;
  }
  #globalnav01 #globalnav_in ul li:last-child:after {
    display: none;
  }
  #globalnav01 #globalnav_in ul li a {
    padding: 12px 5%;
    position: relative;
  }
  #globalnav01 #globalnav_in ul li a:after {
    position: absolute;
    top: 50%;
    right: 5%;
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    margin-top: -4px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@media only screen and (max-width: 690px) {
  #globalnav01 {
    position: fixed;
    z-index: 1000;
    padding-top: 64px;
  }
}

#gnav_btn01 {
  width: 40px;
  height: 40px;
  background: url(../image/common/gnav_btn.png) no-repeat center center;
  background-size: 40px 40px;
  float: right;
  margin-top: 5px;
  cursor: pointer;
}

@media only screen and (min-width: 979px) {
  #gnav_btn01 {
    display: none;
  }
}

/********************************************/
/* sp contact */
/********************************************/
#sp_hcontact_btn,
#sp_hcontact_nav,
#sp_hcontact_bottom,
#sp_hcontact_top {
  display: none;
}

@media only screen and (max-width: 690px) {
  #sp_hcontact_btn {
    float: right;
    display: block;
    margin-top: 5px;
    margin-right: 15px;
  }
  #sp_hcontact_btn .ocbtn {
    padding-right: 15px;
    width: 40px;
    height: 40px;
    background: url(../image/common/mail_btn.png) no-repeat center center;
    background-size: 40px 40px;
  }
  #sp_hcontact_nav {
    margin-top: 10px;
  }
  #sp_hcontact_nav ul {
    width: 96%;
    font-size: 0;
    margin: auto;
    padding: 15px 0 5px;
    border-top: 1px solid #f5f5f5;
  }
  #sp_hcontact_nav ul li {
    display: inline-block;
    width: 49%;
    font-size: 15px;
    text-align: center;
  }
  #sp_hcontact_nav ul li + li {
    margin-left: 2%;
  }
  #sp_hcontact_nav ul li.sphc_nav_tel {
    font-size: 18px;
    width: 53%;
  }
  #sp_hcontact_nav ul li.sphc_nav_tel:before {
    font-family: FontAwesome;
    content: "\f095";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    font-size: 22px;
    font-size: 18px;
  }
  #sp_hcontact_nav ul li.sphc_nav_mail {
    width: 45%;
  }
  #sp_hcontact_nav ul li.sphc_nav_mail a {
    display: block;
    background-color: #FF6600;
    color: #ffffff;
    font-size: 16px;
    padding: 5px;
  }
  #sp_hcontact_nav ul li.sphc_nav_mail a:hover {
    background-color: #C65000;
    text-decoration: none;
  }
  #sp_hcontact_nav ul li.sphc_nav_mail a:before {
    font-family: FontAwesome;
    content: "\f0e0";
    display: inline-block;
    padding-right: 8px;
    /*vertical-align: middle;*/
    font-size: 14px;
  }
  #sp_hcontact_bottom {
    display: block;
    position: fixed;
    left: 0;
    z-index: 1000;
    width: 100%;
    overflow: hidden;
  }
  #sp_hcontact_top {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  #sp_hcontact_bottom {
    bottom: 0;
  }
  .sp_hcontact {
    width: 100%;
    display: table;
    height: 30px;
    font-size: 0;
    margin: auto;
    background-color: #f5f5f5;
  }
  .sp_hcontact li {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    font-size: 14px;
    text-align: center;
  }
  .sp_hcontact li.sphc_nav_tel {
    font-size: 16px;
  }
  .sp_hcontact li.sphc_nav_tel:before {
    font-family: FontAwesome;
    content: "\f095";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    font-size: 22px;
    font-size: 16px;
  }
  .sp_hcontact li.sphc_nav_mail {
    background-color: #FF6600;
  }
  .sp_hcontact li.sphc_nav_mail a {
    display: block;
    background-color: #FF6600;
    color: #ffffff;
  }
  .sp_hcontact li.sphc_nav_mail a:before {
    font-family: FontAwesome;
    content: "\f0e0";
    display: inline-block;
    padding-right: 8px;
    /*vertical-align: middle;*/
    font-size: 14px;
  }
}

/********************************************/
/* fixed */
/********************************************/
@media only screen and (max-width: 979px) {
  header#header01 {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    z-index: 10000;
    top: 0;
  }
}

header#header01 .h_menu.fixed {
  padding: 10px 0;
  top: 0;
}

/*.fixed{
	background-color: #ffffff;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000;
}*/
/********************************************/
/* pc megamenu */
/********************************************/
#globalnav01 #globalnav_in ul .megamenu .megamenu_in {
  position: absolute;
  top: 45px;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  visibility: visible;
  opacity: 0;
  z-index: -2;
  -webkit-box-shadow: 1px 2px 3px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 3px -1px rgba(0, 0, 0, 0.3);
  background-color: #555555;
}

#globalnav01 #globalnav_in ul .megamenu .megamenu_in > li {
  display: inline-block;
  float: none;
  width: 100%;
  border: none;
  padding: 0;
}

#globalnav01 #globalnav_in ul .megamenu .megamenu_in > li.megamenu {
  position: relative;
}

#globalnav01 #globalnav_in ul .megamenu .megamenu_in > li a {
  color: #ffffff;
  background-color: #555555;
  border: none;
  padding: 10px 15px;
  text-align: left;
}

#globalnav01 #globalnav_in ul .megamenu .megamenu_in > li a::before {
  font-family: FontAwesome;
  content: "\f105";
  padding-right: 8px;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

#globalnav01 #globalnav_in ul .megamenu .megamenu_in > li a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

#globalnav01 #globalnav_in ul li.megamenu:hover ul.megamenu_in {
  top: 55px;
  visibility: visible;
  opacity: 1;
  z-index: 100000000;
}

#globalnav01.fixed #globalnav_in ul li.megamenu ul.megamenu_in {
  display: none;
}

#globalnav01.fixed #globalnav_in ul li.megamenu:hover ul.megamenu_in {
  display: block;
}

@media only screen and (max-width: 979px) {
  #globalnav01 #globalnav_in ul li.megamenu:hover ul.megamenu_in {
    display: none !important;
  }
}

/********************************************/
/* footer 03 */
/********************************************/
footer#footer03 {
  padding: 56px 0;
}

footer#footer03 .footer_in:after {
  content: "";
  display: table;
  clear: both;
}

footer#footer03 .footer_in .f_pro {
  width: 27%;
}

footer#footer03 .footer_in .f_pro .f_logo {
  line-height: 1;
  margin-bottom: 20px;
}

footer#footer03 .footer_in .f_pro .f_logo a {
  display: inline-block;
  width: 220px;
}

footer#footer03 .footer_in .f_pro .f_logo a img {
  width: 100%;
  height: auto;
}

footer#footer03 .footer_in #footnav {
  font-size: 0;
  width: 53%;
}

footer#footer03 .footer_in #footnav .f_top_nav {
  display: inline-block;
  vertical-align: top;
  padding: 0 1% 0 0;
  margin: 10px 0 0 5px;
}

footer#footer03 .footer_in #footnav .f_top_nav li {
  display: inline-block;
  width: 100%;
  margin-bottom: 24px;
  list-style: none;
  vertical-align: top;
}

footer#footer03 .footer_in #footnav .f_top_nav li a {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
}

footer#footer03 .footer_in #footnav .f_top_nav li ul {
  margin-top: 8px;
  padding-left: 10px;
}

footer#footer03 .footer_in #footnav .f_top_nav li ul li {
  margin-bottom: 5px;
  width: 100%;
}

footer#footer03 .footer_in #footnav .f_top_nav li ul li a {
  font-size: 12px;
  font-weight: normal;
}

footer#footer03 .footer_in #footnav .f_top_nav li ul li a:before {
  color: #ff6600;
  font-family: FontAwesome;
  content: "\f105";
  padding-right: 8px;
  vertical-align: middle;
  display: inline-block;
  font-size: 10px;
}

footer#footer03 .footer_in #footnav .tworow {
  max-width: 460px;
}

footer#footer03 .footer_in #footnav .tworow ul {
  font-size: 0;
}

footer#footer03 .footer_in #footnav .tworow ul li {
  display: inline-block;
  width: 50%;
}

footer#footer03 .footer_in #footnav .tworow ul li:not(:nth-child(2n)) {
  padding-right: 3%;
}

footer#footer03 .footer_in #footnav .tworow ul li a:hover {
  text-decoration: underline;
  color: #ffffff;
}

/* footer top ***************/
.l-footer {
  padding: 0;
}

.t-default ul.f_top_nav {
  display: inline-block;
  vertical-align: top;
  padding: 0 5% 0 0;
  max-width: calc(100% / 4);
}

.t-default ul.f_top_nav.tworow {
  max-width: 460px;
}

/* footer bottom ***************/
#f_bottom_wrap03 {
  background-color: #333333;
  padding: 10px 0;
}

#f_bottom_wrap03 .f_bottom {
  line-height: 1;
}

#f_bottom_wrap03 .f_bottom .f_bottom_nav {
  float: left;
  font-size: 0;
}

#f_bottom_wrap03 .f_bottom .f_bottom_nav a {
  display: inline-block;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #ffffff;
  color: #ffffff;
  font-size: 12px;
}

#f_bottom_wrap03 .f_bottom .f_bottom_nav a:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

#f_bottom_wrap03 .f_bottom .f_bottom_nav a:hover {
  text-decoration: underline;
}

#f_bottom_wrap03 .copyright {
  float: right;
  display: block;
  color: #ffffff;
  font-size: 12px;
}

@media only screen and (max-width: 979px) {
  footer#footer03 .footer_in .f_pro {
    width: 25%;
  }
  footer#footer03 .footer_in .f_pro .f_logo a {
    width: 180px;
  }
  footer#footer03 .footer_in #footnav {
    width: 70%;
    font-size: 0;
    /*.f_top_nav{
					li{
						margin-bottom: 0;
					}
				}*/
  }
  .t-default ul.f_top_nav,
  .t-default ul.f_top_nav.tworow {
    padding: 0 4% 0 0;
  }
}

@media only screen and (max-width: 690px) {
  .t-default ul.f_top_nav,
  .t-default ul.f_top_nav.tworow {
    padding: 0;
    max-width: 100%;
    width: 100%;
  }
  footer#footer03 {
    width: 100%;
    padding: 35px 0 0;
  }
  footer#footer03 .footer_in {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  footer#footer03 .footer_in .f_pro {
    float: none;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
  }
  footer#footer03 .footer_in .f_pro .f_logo {
    padding: 0;
    margin: 0 0 10px;
  }
  footer#footer03 .footer_in .f_pro .f_logo a {
    width: 50%;
    max-width: 240px;
  }
  footer#footer03 .footer_in .f_pro .f_logo a img {
    max-width: 100%;
    width: auto;
  }
  footer#footer03 .footer_in #footnav {
    float: none;
    width: 100%;
    border-top: 2px solid #f5f5f5;
  }
  footer#footer03 .footer_in #footnav .f_top_nav, footer#footer03 .footer_in #footnav .f_top_nav.tworow {
    padding: 0 0 0 0;
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
  footer#footer03 .footer_in #footnav .f_top_nav li, footer#footer03 .footer_in #footnav .f_top_nav.tworow li {
    margin-bottom: 0;
    width: 100%;
  }
  footer#footer03 .footer_in #footnav .f_top_nav li a, footer#footer03 .footer_in #footnav .f_top_nav.tworow li a {
    display: block;
    border-top: 1px solid #f5f5f5;
    padding: 10px 3%;
    font-size: 14px;
    position: relative;
  }
  footer#footer03 .footer_in #footnav .f_top_nav li:last-child a{
    border-bottom: 1px solid #f5f5f5;
  }
  footer#footer03 .footer_in #footnav .f_top_nav li a:after, footer#footer03 .footer_in #footnav .f_top_nav.tworow li a:after {
    font-family: FontAwesome;
    content: "\f0da";
    padding-right: 8px;
    vertical-align: middle;
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    right: 3%;
    top: calc(50% - 8px);
  }
  footer#footer03 .footer_in #footnav .f_top_nav ul, footer#footer03 .footer_in #footnav .f_top_nav.tworow ul {
    display: none;
  }
  #f_bottom_wrap03 {
    padding: 10px 10px 50px;
  }
  #f_bottom_wrap03 .f_bottom .f_bottom_nav {
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }
  #f_bottom_wrap03 .f_bottom .f_bottom_nav a {
    margin: 10px 15px 10px 0;
  }
  #f_bottom_wrap03 .copyright {
    float: none;
    text-align: center;
    font-size: 11px;
  }
}

/****************************************************************/
/* html source reference */
/****************************************************************/
.prebox pre {
  margin: 0;
  padding: 0;
}

.prebox .qa_click_a {
  padding: 0 2%;
}

.partsnav {
  text-align: center;
  font-size: 0;
  background-color: #F9F8F4;
}

.partsnav.ppage {
  background-color: #ffffff;
}

.partsnav .subnavi {
  padding: 3% 0;
  max-width: 1024px;
  margin: auto;
}

.partsnav .subnavi_title {
  margin-bottom: 20px;
}

.partsnav .subnavi_title a {
  display: block;
  color: #1C293F;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}

.partsnav li {
  display: inline-block;
  margin: 10px;
}

.partsnav li a {
  display: block;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  border: 1px solid #1C293F;
  color: #1C293F;
  font-size: 16px;
  position: relative;
  z-index: 2;
}

.partsnav li a::before {
  content: "";
  width: 100%;
  height: 0;
  background-color: #1C293F;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  z-index: -1;
}

.partsnav li a:hover::before {
  height: 100%;
}

.partsnav li a:hover {
  text-decoration: none;
  color: #ffffff;
}

/****************************************************************/
/* pagetop */
/****************************************************************/
#topcontrol {
  z-index: 150;
  margin-bottom: 0;
}

a.pagetop {
  width: 72px;
  height: 72px;
  background: url(../image/common/pagetop.gif) no-repeat 0 0;
  background-size: 72px 72px;
  display: block;
  z-index: 50;
}

@media only screen and (max-width: 979px) {
  #topcontrol {
    margin-bottom: 220px;
  }
}

@media only screen and (max-width: 979px) {
  #topcontrol {
    margin-bottom: 20px;
  }
  a.pagetop {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }
}

/****************************************************************/
/* title */
/****************************************************************/
h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* h3 ***************************/
.title03 {
  font-size: 26px;
  margin-bottom: 24px;
  line-height: 1.4;
  font-weight: bold;
}

@media only screen and (max-width: 690px) {
  .title03 {
    font-size: 20px;
  }
}

.title03_bl {
  font-size: 26px;
  margin-bottom: 24px;
  line-height: 1.4;
  font-weight: bold;
  padding-left: 13px;
  border-left: 5px solid #FF6600;
}

@media only screen and (max-width: 690px) {
  .title03_bl {
    font-size: 20px;
  }
}

.title03_blb {
  font-size: 26px;
  margin-bottom: 24px;
  line-height: 1.4;
  font-weight: bold;
  padding-left: 13px;
  padding-bottom: 8px;
  border-left: 5px solid #FF6600;
  border-bottom: 1px solid #FF6600;
}

@media only screen and (max-width: 690px) {
  .title03_blb {
    font-size: 20px;
  }
}

.title03_blb2 {
  font-size: 26px;
  margin-bottom: 24px;
  line-height: 1.4;
  font-weight: bold;
  padding: 12px 0 12px 15px;
  border-bottom: 1px solid #FF6600;
  position: relative;
}

@media only screen and (max-width: 690px) {
  .title03_blb2 {
    font-size: 20px;
  }
}

.title03_blb2:after {
  content: "";
  background-color: #FF6600;
  position: absolute;
  top: 13px;
  left: 0;
  width: 5px;
  height: calc(100% - 26px);
}

.title03_bbl {
  font-size: 26px;
  margin-bottom: 24px;
  line-height: 1.4;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 1px solid #FF6600;
}

@media only screen and (max-width: 690px) {
  .title03_bbl {
    font-size: 20px;
  }
}

.title03_bbs {
  font-size: 26px;
  margin-bottom: 24px;
  line-height: 1.4;
  font-weight: bold;
  position: relative;
  padding-bottom: 8px;
}

@media only screen and (max-width: 690px) {
  .title03_bbs {
    font-size: 20px;
  }
}

.title03_bbs:after {
  content: "";
  background-color: #FF6600;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 80px;
  height: 3px;
}

.title03_bb2 {
  font-size: 26px;
  margin-bottom: 24px;
  line-height: 1.4;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #FF6600;
  position: relative;
}

@media only screen and (max-width: 690px) {
  .title03_bb2 {
    font-size: 20px;
  }
}

.title03_bb2:after {
  content: "";
  background-color: #FF6600;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 80px;
  height: 3px;
}

.title03_bold {
  font-size: 26px;
  margin-bottom: 24px;
  line-height: 1.4;
  font-weight: bold;
  font-weight: bold;
}

@media only screen and (max-width: 690px) {
  .title03_bold {
    font-size: 20px;
  }
}

.title03_bg {
  font-size: 26px;
  margin-bottom: 24px;
  line-height: 1.4;
  font-weight: bold;
  background-color: #FF6600;
  color: #ffffff;
  padding: 8px 16px;
}

@media only screen and (max-width: 690px) {
  .title03_bg {
    font-size: 20px;
  }
}

.title03_bgbb {
  font-size: 26px;
  margin-bottom: 24px;
  line-height: 1.4;
  font-weight: bold;
  line-height: 1.4;
  background-color: #FF6600;
  border-bottom: 4px solid #FF6600;
  color: #ffffff;
  padding: 8px 16px;
}

@media only screen and (max-width: 690px) {
  .title03_bgbb {
    font-size: 20px;
  }
}

.title03_tc_bbs {
  font-size: 26px;
  margin-bottom: 24px;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
  position: relative;
  padding-bottom: 20px;
}

@media only screen and (max-width: 690px) {
  .title03_tc_bbs {
    font-size: 20px;
  }
}

.title03_tc_bbs:after {
  content: "";
  background-color: #FF6600;
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
  width: 80px;
  height: 4px;
}

.title03_tc_verticalbm {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.title03_tc_verticalbm:after {
  display: inline-block;
  content: "";
  background-color: #FF6600;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 1;
}

.title03_tc_verticalbm .ttv {
  font-size: 26px;
  margin-bottom: 24px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 0;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0 2%;
  max-width: 90%;
}

@media only screen and (max-width: 690px) {
  .title03_tc_verticalbm .ttv {
    font-size: 20px;
  }
}

/* h4 ***************************/
.title04 {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.4;
  font-weight: bold;
}

@media only screen and (max-width: 690px) {
  .title04 {
    font-size: 18px;
  }
}

.title04_bl {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.4;
  font-weight: bold;
  padding-left: 8px;
  border-left: 5px solid #FF6600;
}

@media only screen and (max-width: 690px) {
  .title04_bl {
    font-size: 18px;
  }
}

.title04_bbl {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.4;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 1px solid #FF6600;
}

@media only screen and (max-width: 690px) {
  .title04_bbl {
    font-size: 18px;
  }
}

.title04_bbs {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.4;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
}

@media only screen and (max-width: 690px) {
  .title04_bbs {
    font-size: 18px;
  }
}

.title04_bbs:after {
  content: "";
  background-color: #FF6600;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 40px;
  height: 3px;
}

.title04_bb2 {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.4;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 1px solid #FF6600;
  position: relative;
}

@media only screen and (max-width: 690px) {
  .title04_bb2 {
    font-size: 18px;
  }
}

.title04_bb2:after {
  content: "";
  background-color: #FF6600;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 40px;
  height: 3px;
}

.title04_bold {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.4;
  font-weight: bold;
  font-weight: bold;
}

@media only screen and (max-width: 690px) {
  .title04_bold {
    font-size: 18px;
  }
}

.title04_bg {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.4;
  font-weight: bold;
  background-color: #FF6600;
  color: #ffffff;
  padding: 6px 10px;
}

@media only screen and (max-width: 690px) {
  .title04_bg {
    font-size: 18px;
  }
}

.title04_square {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.4;
  font-weight: bold;
  padding-left: 20px;
  position: relative;
}

@media only screen and (max-width: 690px) {
  .title04_square {
    font-size: 18px;
  }
}

.title04_square:after {
  content: "";
  background-color: #FF6600;
  position: absolute;
  bottom: calc(50% -  5px);
  left: 0;
  width: 10px;
  height: 10px;
}

/* h5 ***************************/
.title05 {
  font-size: 19px;
  margin-bottom: 10px;
  line-height: 1.4;
  font-weight: bold;
}

@media only screen and (max-width: 690px) {
  .title05 {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.title05.m0 {
  margin-bottom: 0;
}

.title05_bl {
  font-size: 19px;
  margin-bottom: 10px;
  line-height: 1.4;
  font-weight: bold;
  padding-left: 8px;
  border-left: 5px solid #FF6600;
}

@media only screen and (max-width: 690px) {
  .title05_bl {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.title05_bbl {
  font-size: 19px;
  margin-bottom: 10px;
  line-height: 1.4;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 1px solid #FF6600;
}

@media only screen and (max-width: 690px) {
  .title05_bbl {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.title05_bbs {
  font-size: 19px;
  margin-bottom: 10px;
  line-height: 1.4;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
}

@media only screen and (max-width: 690px) {
  .title05_bbs {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.title05_bbs:after {
  content: "";
  background-color: #FF6600;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 40px;
  height: 3px;
}

.title05_bb2 {
  font-size: 19px;
  margin-bottom: 10px;
  line-height: 1.4;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 1px solid #FF6600;
  position: relative;
}

@media only screen and (max-width: 690px) {
  .title05_bb2 {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.title05_bb2:after {
  content: "";
  background-color: #FF6600;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 40px;
  height: 3px;
}

.title05_bold {
  font-size: 19px;
  margin-bottom: 10px;
  line-height: 1.4;
  font-weight: bold;
}

.title05_bg {
  font-size: 19px;
  margin-bottom: 10px;
  line-height: 1.4;
  font-weight: bold;
  background-color: #FF6600;
  color: #ffffff;
  padding: 6px 10px;
}

@media only screen and (max-width: 690px) {
  .title05_bg {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.title05_square {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.4;
  font-weight: bold;
  padding-left: 15px;
  position: relative;
}

@media only screen and (max-width: 690px) {
  .title05_square {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.title05_square:after {
  content: "";
  background-color: #FF6600;
  position: absolute;
  bottom: calc(50% -  4px);
  left: 0;
  width: 8px;
  height: 8px;
}

/* h6 ***************************/
.title06 {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.4;
}

@media only screen and (max-width: 690px) {
  .title06 {
    font-size: 14px;
  }
}

.title06.m0 {
  margin-bottom: 0;
}

/*-----------------------------------------------------------------*/
/* キャッチ・強調　テキスト */
/*-----------------------------------------------------------------*/
.catch {
  font-size: 30px;
  line-height: 1.4;
}

@media only screen and (max-width: 691px) {
  .catch {
    font-size: 24px;
  }
}

.mincho {
  font-family: "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","HiraMinProN-W3",serif;
}

.txt_color_white,
.txt_color_white a {
  color: #ffffff !important;
}

.txt_color_key,
.txt_color_key a {
  color: #FF6600 !important;
}

.txt_bg_blue {
  background-color: #FF6600 !important;
  color: #ffffff;
  padding: 2px 10px;
  display: inline-block;
}

.txt_bg_green {
  background-color: #00AA4F !important;
  color: #ffffff;
  padding: 2px 10px;
  display: inline-block;
}

.catch_bb {
  font-size: 30px;
  line-height: 1.4;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 690px) {
  .catch_bb .catch_bb {
    font-size: 22px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: normal;
  }
}

.catch_bb::after {
  content: "";
  background-color: #FF6600;
  position: absolute;
  bottom: 0;
  left: calc(50% - 16px);
  width: 32px;
  height: 3px;
}

.title_jp {
  font-size: 32px;
  line-height: 1.3;
  color: #ffffff;
  text-align: center;
  color: #333333;
  line-height: 1.2;
  margin-bottom: 8px;
}

@media only screen and (max-width: 690px) {
  .title_jp {
    font-size: 30px;
  }
}

.title_en {
  font-size: 12px;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
  color: #FF6600;
  letter-spacing: .1em;
}

.title_jp.yoko,
.title_en.yoko {
  display: inline-block;
}

.title_en.yoko {
  margin-left: 5px;
}

/*-----------------------------------------------------------------*/
/* rss お知らせ */
/*-----------------------------------------------------------------*/
.rss_box dl {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eeeeee;
}

.rss_box dl:after {
  content: "";
  display: table;
  clear: both;
}

.rss_date {
/*  float: left;
  width: 12%;
  font-size: .9em;*/
  display: none;
}

.rss_title {
  float: right;
  width: 100%;
/*  padding-left: 20px;*/
}

.rss_title a {
  color: #FF6600;
  text-decoration: underline;
}

.rss_contents {
  clear: both;
  padding: 5px 0 0 calc(12% + 20px);
  font-size: .9em;
}

.rss_new {
  display: inline-block;
  background-color: #FF6600;
  color: #ffffff;
  padding: 1px 12px;
  font-size: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 979px) {
  .rss_date {
    width: 14%;
  }
  .rss_title {
    width: 100%;
  }
  .rss_contents {
    padding-left: calc(14% + 15px);
  }
}

@media only screen and (max-width: 690px) {
  .rss_date,
  .rss_title {
    width: 100%;
    float: none;
  }
  .rss_date {
    font-size: .85em;
  }
  .rss_title {
    padding: 3px 0;
  }
  .rss_contents {
    padding: 5px 0 0 0;
  }
}

/* 2個目以降非表示 スライドで表示 ----------*/
.rss_tggle {
  position: relative;
}

.rss_tggle .rss_contents {
  display: none;
}

#close {
  display: none;
}

#rss_open {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

#rss_open::before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
  background-color: #FF6600;
  width: 40px;
  height: 40px;
  text-align: center;
}

#rss_open.active::before {
  content: "\f00d";
}

.rss_tggle .rss_box {
  width: calc(100% - 40px - 20px);
  margin-right: 20px;
}

/*-----------------------------------------------------------------*/
/* H2 ページタイトル */
/*-----------------------------------------------------------------*/
/*** ブロック PAGETITLE-A ***/
/*#pagetitle{
	@include title02;
    background-color: $accent-color2;
    h2{
		@include title02_in;
		color: #ffffff;
	}
}*/
/*** ブロック PAGETITLE-B ***/
/*#pagetitle{
	@include title02;
    background-color: $bg-color-base;
    h2{
		@include title02_in;
		color: $text-color;
		position: relative;
		&:after{
			content: "";
			width: 70px;
			height: 4px;
			position: absolute;
			bottom: -40px;
			left: 0;
			background-color: $key-color;
			@media only screen and (max-width: 690px) {
				bottom: -24px;
			}
		}
	}
}*/
/*** ブロック PAGETITLE-C ***/
/*#pagetitle{
	@include title02;
    background-color: $bg-color-base;
    h2{
		@include title02_in;
		color: $text-color;
		padding-left: 15px;
		border-left-width: 5px;
		border-left-style: solid;
		border-left-color: $title-color;
	}
}*/
/*** ブロック PAGETITLE-D ***/
#pagetitle {
  padding: 50px 0;
  width: 100%;
  margin: 0;
  display: table;
  background: url(../image/title02_bg.jpg) no-repeat center center / cover; 
}
.scrolled #pagetitle {
  margin-top: 140px;
}

@media only screen and (max-width: 979px) {
.scrolled #pagetitle {
  margin-top: 0;
}
}

@media only screen and (max-width: 690px) {
  #pagetitle {
    padding: 40px 0;
  }
}

#pagetitle h2 {
  font-size: 32px;
  line-height: 1.3;
}

@media only screen and (max-width: 690px) {
  #pagetitle h2 {
    font-size: 30px;
  }
}

/*** ブロック PAGETITLE-E ***/
/*#pagetitle{
	@include title02;
    background-color: $accent-color2;
    text-align: center;
    h2{
		@include title02_in;
		color: #ffffff;
	}
}/*
/*** ブロック PAGETITLE-F ***/
/*#pagetitle{
	@include title02;
    background-color: $bg-color-base;
    text-align: center;
    h2{
		@include title02_in;
		color: $text-color;
		position: relative;
		&:after{
			content: "";
			width: 80px;
			height: 4px;
			position: absolute;
			bottom: -40px;
			left: calc(50% - 40px);
			background-color: #DF0000;
			@media only screen and (max-width: 690px) {
				bottom: -24px;
			}
		}
	}
}*/
/*** ブロック PAGETITLE-G ***/
/*#pagetitle{
	@include title02;
    background-color: $bg-color-base;
    text-align: center;
    padding-bottom: 50px;
    h2{
		@include title02_in;
		color: $text-color;
		position: relative;
		&:after{
			content: "";
			width: 40px;
			height: 4px;
			position: absolute;
			bottom: -20px;
			left: calc(50% - 20px);
			background-color: #DF0000;
			@media only screen and (max-width: 690px) {
				bottom: -24px;
			}
		}
	}
}*/
@media only screen and (max-width: 979px) {
  .pagename_wrap {
    padding-top: 104px;
  }
}

@media only screen and (max-width: 690px) {
  .pagename_wrap {
    padding-top: 64px;
  }
}

.title02,
p.title02 {
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.title02.m10,
p.title02.m10 {
  margin-bottom: 10px;
}

@media only screen and (max-width: 690px) {
  .title02, p.title02 {
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
}

/*-----------------------------------------------------------------*/
/* ぱんくず locator （背景ありなし選択。背景ありの時はコメントアウト外して背景なしをコメントアウト）*/
/*-----------------------------------------------------------------*/
/* 背景あり */
/*#locator{
	background-color: $accent-color1;
    font-size: 10px;
    line-height: 1.6;
    margin-bottom: 40px;
    padding: 3px 0;
    text-align: right;
    color: #ffffff;
    a{color: #ffffff;}
}*/
/* 背景なし */
#locator {
  font-size: 10px;
  line-height: 1.6;
  padding: 5px 0 45px;
  text-align: right;
}

@media only screen and (max-width: 979px) {
  #locator {
    padding: 5px 0 15px;
  }
}

/*-----------------------------------------------------------------*/
/* キャッチ・強調　テキスト */
/*-----------------------------------------------------------------*/
.catch {
  font-size: 30px;
  line-height: 1.4;
}

@media only screen and (max-width: 691px) {
  .catch {
    font-size: 24px;
  }
}

.mincho {
  font-family: "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","HiraMinProN-W3",serif;
}

.txt_color_white,
.txt_color_white a {
  color: #ffffff !important;
}

.txt_color_key,
.txt_color_key a {
  color: #FF6600 !important;
}

.txt_bg_blue {
  background-color: #FF6600 !important;
  color: #ffffff;
  padding: 2px 10px;
  display: inline-block;
}

.txt_bg_green {
  background-color: #00AA4F !important;
  color: #ffffff;
  padding: 2px 10px;
  display: inline-block;
}

.catch_bb {
  font-size: 32px;
  line-height: 1.4;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 691px) {
  .catch_bb {
    font-size: 26px;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
}

.catch_bb:after {
  content: "";
  background-color: #FF6600;
  position: absolute;
  bottom: 0;
  left: calc(50% - 20px);
  width: 40px;
  height: 5px;
}

/*-----------------------------------------------------------------*/
/* バナー */
/*-----------------------------------------------------------------*/
.banner_sbs3 {
  font-size: 0;
}

.banner_sbs3 li {
  display: inline-block;
  width: 32%;
}

.banner_sbs3 li:not(:last-child) {
  margin-right: 2%;
}

.banner_sbs3 li img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 691px) {
  .banner_sbs3 li {
    width: 100%;
    margin: 8px 0;
  }
  .banner_sbs3 li:not(:last-child) {
    margin-right: 0;
  }
}

.banner_sbs2 {
  font-size: 0;
}

.banner_sbs2 li {
  display: inline-block;
  width: 47.5%;
}

.banner_sbs2 li:not(:last-child) {
  margin-right: 5%;
}

.banner_sbs2 li img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 691px) {
  .banner_sbs2 li {
    width: 100%;
    margin: 8px 0;
  }
  .banner_sbs2 li:not(:last-child) {
    margin-right: 0;
  }
}

/*-----------------------------------------------------------------*/
/* google map */
/*-----------------------------------------------------------------*/
/* API */
#map_canvas {
  height: 240px;
  width: 100%;
  position: relative;
}

/*#map_canvas::after{
	content: "";
	position: absolute;
	background-color: rgba(0,0,0,.15);
	width: 100%;
	height: 100%;
}*/
@media only screen and (max-width: 979px) {
  #map_canvas {
    height: 240px;
  }
}

@media only screen and (max-width: 690px) {
  #map_canvas {
    height: 160px;
  }
}

/* iframe */
.gmap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.gmap iframe,
.gmap object,
.gmap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-----------------------------------------------------------------*/
/* side banner */
/*-----------------------------------------------------------------*/
.side_banner .banner_in {
  margin-bottom: 10px;
  list-style: none;
}

.side_banner .banner_in a {
  display: block;
  background-color: #FF6600;
  padding: 10px 10%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
}

.side_banner .banner_in a img {
  max-width: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.side_banner .banner_in a:hover {
  text-decoration: none;
  background-color: #C65000;
}

.side_banner .banner_in_bg {
  position: relative;
}

.side_banner .banner_in_bg img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.side_banner .banner_in_bg a {
  display: block;
  position: absolute;
  bottom: 0;
  padding: 5px;
  background-color: rgba(255, 103, 14, 0.75);
  color: #ffffff;
  text-align: center;
  width: 100%;
}

.side_banner .banner_in_bg a:hover {
  background-color: #FF6600;
}

.banner_in_bg.bigglink:hover a {
  background-color: #FF6600;
}

@media only screen and (max-width: 979px) {
  .side_banner .banner_in,
  .side_banner .banner_in_bg {
    float: left;
    width: 32%;
    margin-bottom: 0;
  }
  .side_banner .banner_in:not(:last-child),
  .side_banner .banner_in_bg:not(:last-child) {
    margin-right: 2%;
  }
  .side_banner .banner_in a,
  .side_banner .banner_in_bg a {
    padding: 20px 7%;
  }
  .side_banner .banner_in a img,
  .side_banner .banner_in_bg a img {
    max-width: 28px;
    margin-right: 10px;
  }
  .side_banner .banner_in_bg a {
    padding: 5px 5%;
  }
}

@media only screen and (max-width: 690px) {
  .side_banner {
    width: 100%;
    max-width: 400px;
    margin: 30px auto 0;
  }
  .side_banner .banner_in {
    float: none;
    margin: 10px auto;
    width: 100%;
    max-width: 360px;
  }
  .side_banner .banner_in:not(:last-child) {
    margin-right: auto;
  }
  .side_banner .banner_in a {
    padding: 15px 10%;
  }
  .side_banner .banner_in a img {
    max-width: 28px;
    margin-right: 15px;
  }
  .side_banner .banner_in_bg {
    float: left;
    width: 48%;
    position: static;
  }
  .side_banner .banner_in_bg:not(:last-child) {
    margin-right: 4%;
  }
  .side_banner .banner_in_bg a {
    font-size: 14px;
    line-height: 1.4;
    position: static;
  }
}

.plink {
  padding-top: 300px;
  margin-top: -300px; }

@media only screen and (max-width: 979px) {
  .plink {
    padding-top: 60px;
    margin-top: -60px; 
  } 
}

/****************************************************************/
/* image */
/****************************************************************/
/* border **********/
.pb img {
  border: #ddd solid 1px; }

.pb1 img {
  border: #ddd solid 1px;
  padding: 1px; }

.pb2 img {
  border: #ddd solid 1px;
  padding: 2px; }

/* responsive **********/
.img100 img,
#contents img,
.inner img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto; }

body.dcms_editor .img100 img,
body.dcms_editor #contents_left img,
body.dcms_editor .inner img {
  display: inline;
  height: 100%;
  max-height: 100%;
  width: auto; }

body .dcms_login_name img {
  width: 29px !important;
  height: 29px !important;
  display: inline  !important; }

/* form **********/
.imgcircle img {
  border-radius: 50%; }

/****************************************************************/




/* self **********/
.padding0 { 
  padding: 0;
}